@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-orange: #d8720e;
  --secondary-orange: #fda72f;
  --primary-blue: #152d3a;
  --secondary-blue: #1aa1c1;
}

canvas {
  display: block;
  margin: 0 auto;
  height: 200px !important;
  max-height: 250px !important;
}
